@import "susy";

$total-columns  : 7;
$column-width   : 60px;
$gutter-width   : 20px;
$grid-padding   : $gutter-width;

$break          : 10;


.main {
  @include container($total-columns, $break);
  @include susy-grid-background; //show the grid for development
}

@include at-breakpoint($break) {
  .desktop{
    display: block;
  }

  .mobile{
    display: none;
  }
  
  .main {
    @include susy-grid-background; //show the grid for development
  }
}