@media screen and (min-width: 500px) {

  nav{
    a{
      font-size: 16px;
    }
  }

  .main{
    padding: 25px;
    font-size: 16px;

    h1{
      font-size: 28px;
    }

    h2{
      font-size: 24px;
    }

    h3.date{
      font-size: 16px;
    }
  }

  footer{
    font-size: 16px;
  }

  img.book-cover {
    float: left;
    margin-right: 20px;
  }
}

@media screen and (min-width: 860px) {

  header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 170px;
    height: 100%;
    padding-top: 55px;
    text-align: right;

    a.logo {
      height: 120px;
      width: 120px;
      margin-bottom: 10px;
      margin-right: 0;
    }
  }

  nav{
    text-align: right;
    ul {
      margin: 20px 0;
    }

    ul.contact {
      display: block;
      a {
        font-size: 22px;
        color: $col_grey;
        &:hover { color: darken($col_grey, 10%) };
        &:active { color: darken($col_grey, 20%) };
      }
    }

    ul.sections {
      li {
        display: block;
      }
    }
  }

  .main_container{
    display: block;
    margin-left: 230px;

    .main{
      display: inline-block;
      font-size: 16px;
      line-height: 1.5em;
      width: 90%;
      max-width: 675px;
      margin: 0 5% 20px 5%;
    }
  }
}
