@media screen and (min-width: 500px) {
  nav {
    a {
      font-size: 16px;
    }
  }

  .main {
    padding: 35px 25px;
    font-size: 16px;

    h1 {
      font-size: 28px;
    }

    h2 {
      font-size: 20px;
    }

    h3.date {
      font-size: 16px;
    }
  }

  footer {
    font-size: 16px;
  }

  img.book-cover {
    float: left;
    margin-right: 20px;
  }
}

@media screen and (min-width: 860px) {
  header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 170px;
    height: 100%;
    padding-top: 55px;
    text-align: right;

    a.logo {
      height: 80px;
      width: 80px;
      margin-bottom: 10px;
      margin-right: 0;

      img {
        border-radius: 100%;
      }
    }
  }

  nav {
    text-align: right;
    ul.sections {
      margin: 20px 0;
    }

    ul {
      li {
        display: block;
      }
    }

    li {
      display: block;
    }

    .subscribe-header {
      display: block;
    }
  }

  .main_container {
    display: block;
    margin-left: 200px;

    .main {
      font-size: 13pt;
      line-height: 1.5em;
      width: 90%;
      max-width: 1000px;
      margin: 0 5% 20px 5%;
    }
  }
}
