/**

//HTML5 Boilerplate + Normalize
*= require "_vendor/normalize.css"
*= require "_vendor/html5bp.css"

//Code
*= require "_code.css"
*/

// Variables

$col_blue_dark: #1c3553;
$col_blue_med: #3667a1;
$col_blue_light: #498bd9;
$col_blackish: #131313;
$col_grey: #acacac;
$col_white: #ffffff;

// Foundations

// border-box on all elements
* { box-sizing: border-box }

.main{
  width: 100%;
  padding: 15px;
  background-color: $col_white;

  font-size: 14px;

  h1, h2{
    font-family: 'Montserrat', sans serif;
    font-weight: bold;

    a{
      color: $col_blackish;
      &:hover { color: $col_blue_med };
      &:active { color: $col_blue_dark };
      &:visited { color: $col_blackish };
      &:focus { color: $col_blue_med };
    }
  }

  h1{
    font-size: 22px;
    margin-top: 20px;
    line-height: 1.2em;
  }

  h2{
    font-size: 18px;

    margin-top: 40px;
    margin-bottom: 15px;

    &.title {
      margin-top: 0;
    }
  }

  h3 {
    margin-top: 1.5em;
  }

  h3.date{
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    color: $col_grey;

    margin-bottom: 15px;
    border-bottom: solid thin $col_grey;
  }

  a{
    color: $col_blue_med;
    &:hover { color: $col_blue_light };
    &:active { color: $col_blue_dark };
    &:visited { color: $col_blue_med };
    &:focus { color: $col_blue_light };
  }

  li{
    margin-bottom: 0.3em;
  }

  img{
    margin: 10px 0;
    max-width: 100%;
  }

}

.homepage-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

// Base Typography

body{
  background-color: #fff;

  font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
  color: $col_blackish;
  font-size: 14pt;

  width: 100%;
  margin: 0;
}

h3.homepage-title {
  font-weight: normal;
}

a {
  color: $col_blue_med;
  text-decoration: none;

  &:hover { color: $col_blue_light };
  &:active { color: $col_blue_dark };
  &:visited { color: $col_blue_med };
  &:focus { color: $col_blue_light };
}

pre.highlight{
  padding: 6px;
  font-family: 'Courier New', Courier, monospace;
}

blockquote {
  font-size: 0.9em;
  border-left: solid thin #ddd;
  padding-left: 10px;
}

.one-column {
  max-width: 675px;
}

// Blog post display

table {
  td, th {
    border: solid thin #ddd;
    padding: 5px;
  }
}

.iframe-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 60%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img.book-cover {
  max-height: 200px;
  border: solid 1px black;
}

// Mobile-only

header{
  width: 100%;
  padding: 20px 0 0 20px;

  a.logo{
    box-sizing: content-box;
    display: inline-block;
    width: 80px;
    height: 80px;
    vertical-align: top;
    margin-right: 15px;
  }

  h1.name{
    display: inline-block;
    line-height: 0.6em;
    font-weight: 300;
    margin: 0;

    a{
      font-size: 23px;
      color: $col_blackish;
      margin: 0 ;
    }
  }
}

nav{
  display: inline-block;
  vertical-align: bottom;

  ul{
    margin: 0;
    padding: 0;

    overflow: hidden;

    li{
      display: inline-block;
      margin-right: 5px;
      font-size: 14px;
    }
  }

  ul.contact {
    display: none;
  }
}


h3.homepage-title {
  margin-bottom: 0;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #cccccc;
}

a.homepage-link {
  display: block;
  transition: transform 100ms linear;

  color: lighten($col_blackish, 30%);
  &:hover {
    color: $col_blackish;
    transform: translate(0, -1px);
  }
  &:visited {
    color: lighten($col_blackish, 30%);
    &:hover { color: $col_blackish; }
  }
  &:active {
    color: lighten($col_blackish, 30%);
    &:hover { color: $col_blackish; }
  }
  &:focus {
    color: lighten($col_blackish, 30%);
    &:hover { color: $col_blackish; }
  }

  .project-description {
    color: inherit;
    font-size: 14px;
    line-height: 1.3em;
  }
}

@import "responsive";

