---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout 
  title="Inspirations - Geoffrey Litt"
  description="People whose work I've found inspirational"
>
  <div class="container">
    <div class="one-column">
      <h1>Inspirations</h1>

      <p>Here's a very incomplete list of people whose work I've found inspirational. If your taste is similar to mine, maybe you'll get some inspiration from their work too.</p>

      <ul>
        <li><a href="http://worrydream.com/LearnableProgramming/">Bret Victor</a></li>
        <li><a href="https://www.youtube.com/watch?v=oKg1hTOQXoY&feature=youtu.be">Alan Kay</a></li>
        <li><a href="http://www.chris-granger.com/2014/03/27/toward-a-better-programming/">Chris Granger</a></li>
        <li><a href="https://alarmingdevelopment.org/?p=1145">Jonathan Edwards</a></li>
        <li><a href="https://www.cs.cmu.edu/~shihpinc/gneiss.html">Kerry Chang</a></li>
        <li><a href="http://www.dougengelbart.org/content/view/209/448/">Doug Engelbart</a></li>
        <li><a href="http://people.csail.mit.edu/dnj/">Daniel Jackson</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Amusing_Ourselves_to_Death">Neil Postman</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Mindstorms_(book)">Seymour Papert</a></li>
        <li><a href="https://hazel.org/">Cyrus Omar</a></li>
        <li><a href="http://www.cs.cmu.edu/~bam/">Brad Myers</a></li>
        <li><a href="https://eglassman.github.io/examplore/">Elena Glassman</a></li>
        <li><a href="http://glench.com/LegibleMathematics/">Glen Chiacchieri</a></li>
        <li><a href="https://www.cs.cmu.edu/~NatProg/whyline-java.html">Amy Ko</a></li>
        <li><a href="https://distill.pub/2017/aia/">Michael Nielsen</a></li>
        <li><a href="https://mavo.io/">Lea Verou</a></li>
      </ul>

      <p>And here's a photo of my computing bookshelf as of November 2020, with some of the books that have influenced me the most:</p>

      <img src="/images/computing-books.jpg" alt="Computing books on bookshelf" />
    </div>
  </div>
</BaseLayout>