.subscribe
  :markdown
    <h4>
      <i class="fa fa-envelope"></i>
      Get research updates
    </h4>
    I'm a PhD student at MIT doing research on the future of no-code development and programming tools.
    
    To get occasional updates on my work,
    [**subscribe to my email newsletter**](https://tinyletter.com/geoffreylitt),
    or follow along via [Twitter](http://www.twitter.com/geoffreylitt)
    or [RSS](/feed.xml).