%h3 Writing

.blogposts-list
  - page_articles.reject{ |a| a.data[:hidden] }.each_with_index do |article, i|
    .blogpost-link
      = link_to article.title, article

%br

%div{style: "max-width: 700px;"}
  .subscribe
    %h4 Subscribe
    I periodically write about programming tools, end-user programming, and other software topics. To get updates about new posts:

    .subscribe-links
      %div
      %a{href: 'http://www.twitter.com/geoffreylitt', style: "margin-right: 15px;" }
        %i.fa.fa-twitter
        Follow me on Twitter
          
      %a{:href => '/feed.xml' }
        %i.fa.fa-rss
        Subscribe via RSS
