- page_articles.each_with_index do |article, i|
  %article.blogpost.summary
    %h3.date= article.date.strftime('%b %e, %Y')
    %h2.title= link_to article.title, article
    .content= article.summary
    - if article_has_summary(article)
      = link_to 'Read more', article, :class => 'read_more'
